.packages
  padding: 64px 0 70px 0
  &__title
    margin-top: 0
    margin-bottom: 65px
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
  &-grid
    display: grid
    grid-template-columns: repeat(auto-fill, 350px)
    column-gap: 30px
    row-gap: 30px
    min-height: 1000px

.main
  &-package
    position: relative
    display: flex
    flex-direction: row
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 1
    max-width: 730px
    height: 500px
    border-radius: 8px
    background-color: $dark
    color: $light
    &__left
      padding: 0
      overflow: hidden
      border-radius: 8px 0 0 8px
    &__banner
      max-width: 100%
      object-fit: cover
      background-size: cover
    &__offer
      position: absolute
      left: 0
      top: 26px
      padding: 8px 15px 8px 11px
      background-color: $primary
      border-radius: 3px
      color: $light
      font-weight: 600
      font-size: 12px
      line-height: 15px
    &__right
      display: flex
      flex-direction: column
      max-width: 364px
      height: 500px
      padding: 40px 21px 30px 44px
      border-radius: 8px
      background-color: $dark
      color: $light
    &__heading
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &__paragraph
      margin-top: 27px
      margin-bottom: 17px
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
    &__room
      margin-top: 23px
      margin-bottom: 29px
    &__text
      margin-bottom: 9px
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &__icon
      margin-right: 14px
    &__price
      margin-left: 5px
      &-start
        display: block
        margin-bottom: 5px
        font-weight: normal
        font-size: 14px
        line-height: 18px
        text-decoration-line: line-through
      &-booknow
        display: flex
        justify-content: space-between
      &-pricetag
        max-width: 100px
        font-weight: bold
        font-size: 24px
        line-height: 30px
    &__button
      width: 120px
      height: 40px
      font-weight: 600
      font-size: 14px
      line-height: 19px
      border-radius: 4px
      border: none
      background-color: $primary
      color: $light
      cursor: pointer

.package
  position: relative
  display: flex
  flex-direction: column
  max-width: 350px
  height: 500px
  border-radius: 8px
  background-color: $dark
  color: $light
  &-sample
    &__one
      grid-column-start: 4
      grid-column-end: 4
      grid-row-start: 1
      grid-row-end: 1
    &__two
      grid-column-start: 1
      grid-column-end: 1
      grid-row-start: 2
      grid-row-end: 2
    &__top
      position: relative
      height: 250px
      overflow: hidden
      border-radius: 8px 8px 0 0
    &__image
      width: 100%
      height: 250px
      background-size: cover
      background-position: center
      object-fit: cover
    &__offer
      position: absolute
      left: 0
      top: 26px
      padding: 4px 9px
      background-color: $primary
      border-radius: 3px
      color: $light
      font-weight: 600
      font-size: 8px
      line-height: 10px
    &__info
      padding: 30px 21px 20px 32px
      overflow: auto
    &__heading
      font-weight: bold
      font-size: 18px
      line-height: 23px
    &__room
      margin-top: 23px
      margin-bottom: 19px
    &__text
      margin-bottom: 11px
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &__icon
      margin-right: 14px

.prices
  &__start
    display: block
    margin-bottom: 4px
    font-weight: normal
    font-size: 13px
    line-height: 17px
    text-decoration-line: line-through
  &__booknow
    display: flex
    justify-content: space-between
  &__pricetag
    max-width: 100px
    font-weight: bold
    font-size: 23px
    line-height: 29px
  &__button
    width: 120px
    height: 38px
    font-weight: 600
    font-size: 13px
    line-height: 18px
    border-radius: 4px
    border: none
    background-color: $primary
    color: $light
    cursor: pointer
